.game h1 {
    font-size: 2.5em;
    margin-bottom: 2em;
  }
  
  .points span {
    font-weight: bold;
  }
  
  .tip span {
    color: #331061;
  }
  
  .wordContainer {
    margin: 1em;
    padding: 0.5em;
    border: 3px solid #9e408aa8;
    border-radius: 10px;
    display: flex;
    margin-bottom: 2em;
  }
  
  .letter,
  .blankSquare {
    margin: 2px;
    font-size: 50px;
    line-height: 1.5;
    border: 1px solid rgb(252, 250, 250);
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    color: rgb(58, 35, 163);
  }
  
  .letterContainer p {
    margin-bottom: 2em;
  }
  
  .letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
  }